<html>
	<head>
		<title> File Upload </title>
		<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet"> 
		<style>
			html, head, body {
				background-color: #223344;
			}
			* {
				font-family: 'Sansita Swashed', cursive;
			}
			.white {
				color: white;
			}
			.gray {
				color: gray;
			}
		</style>
		<body>
			{{{body}}}
		</body>
	</head>
</body>
