<h1 class='white'> Mongo File Uploads </h1>
<form action='/upload' method='POST' enctype='multipart/form-data'>
	<input class='white' type='file' name='file' id='file'>
	<label class='white' for='file'>Choose File</label><br>
	<input class='gray' type='submit' value='submit'>
</form>

<a href='files'><button>View Uploads</button></a>
