<h1 style='color: white'> Currently Playable Songs </h1>

<form style='width: 35%; color: white' method='get' action='/play/'>
{{#each matched_songs}}
	<label name='song' for='{{_id}}'> {{filename}}</label>	
	<input style='float: right'type='radio' id='{{_id}}' name='song' value='{{filename}}'><br>
{{/each}}

<input type='submit'>

</form>
